{% extends 'form.html' %}
{% load i18n %}

{% block nav-departments %}
<li class="sub-menu">
    <a href="{% url 'department-list' %}" class="active">
    <i class="fa fa-users"></i>
    <span>{% trans 'Отделы' %}</span>
    </a>
</li>
{% endblock %}

{% block title %}
{% if object.pk %}
<h3><i class="fa fa-users"></i> {{ object.name }}</h3>
{% else %}
<h3><i class="fa fa-users"></i> {% trans 'Новый отдел' %}</h3>
{% endif %}
{% endblock %}

{% block buttons %}
{{ block.super }}
{% if object.pk %}
<a class="btn btn-danger" href="{% url 'department-delete' object.pk %}">{% trans 'Удалить' %}</a>
{% endif %}
{% endblock %}
