{% extends 'form.html' %}
{% load i18n %}

{% block nav-departments %}
<li class="sub-menu">
    <a href="{% url 'department-list' %}" class="active">
    <i class="fa fa-users"></i>
    <span>{% trans 'Отделы' %}</span>
    </a>
</li>
{% endblock %}

{% block title %}
{% if form.instance.pk %}
<h3><i class="fa fa-user"></i> <a href="{% url 'employee-list' form.initial.department.pk %}">{{ form.initial.department }}</a> <i class="fa fa-angle-right"></i> {{ form.instance.name }}</h3>
{% else %}
<h3><i class="fa fa-user"></i> <a href="{% url 'employee-list' form.initial.department.pk %}">{{ form.initial.department }}</a> <i class="fa fa-angle-right"></i> {% trans 'Новый сотрудник' %} </h3>
{% endif %}
{% endblock %}

{% block buttons %}
{{ block.super }}
{% if object.pk %}
<a class="btn btn-danger" href="{% url 'employee-delete' object.pk %}">{% trans 'Удалить' %}</a>
{% endif %}
{% endblock %}
