{% extends 'table.html' %}
{% load i18n %}

{% block nav-sicktimes %}
<li class="sub-menu">
    <a href="{% url 'sicktime-list' %}" class="active">
    <i class="fa fa-heart"></i>
    <span>{% trans 'Больничные' %}</span>
    </a>
</li>
{% endblock %}

{% block title %}
    <h3><i class="fa fa-heart"></i> {% trans 'Больничные' %}</h3>
{% endblock %}

{% block table-head %}
<th><i class="fa fa-user"></i> {% trans 'Фамилия, Имя, Отчество' %}</th>
<th><i class="fa fa-calendar"></i> {% trans 'Начало' %}</th>
<th><i class="fa fa-calendar"></i> {% trans 'Окончание' %}</th>
<th></th>
{% endblock %}

{% block table-body %}
{% for object in object_list %}
<tr>
    {% if object.employee.active %}
    <td>{{ object.employee }}</td>
    {% else %}
    <td><strike>{{ object.employee }}</strike></td>
    {% endif %}
    <td>{{ object.start_date }}</td>
    <td>{{ object.end_date }}</td>
    <td>
        {% if object.employee.active %}
        <a class="btn btn-primary btn-xs" href="{% url 'sicktime-update' object.pk %}"><i class="fa fa-pencil"></i></a>
        {% endif %}
        <a class="btn btn-danger btn-xs" href="{% url 'sicktime-delete' object.pk %}"><i class="fa fa-trash-o "></i></a>
    </td>
</tr>
{% endfor %}
{% endblock %}

{% block content-footer %}
{% if not object_list %}
<div class="alert alert-warning">
    {% trans 'Не найдено ни одного больничного' %}
</div>
{% endif %}
{% endblock %}

{% block buttons %}
    <a class="btn btn-success btn-sm pull-left" href="{% url 'sicktime-create' %}"> {% trans 'Добавить больничный' %}</a>
{% endblock %}
